.wire {
    margin: 59px;
    position: absolute;
    z-index: 6;
    background-color: #484848;
    width: 10px;
    height: 10px;
    opacity: 0.4;
}

.wire>.northnode,
.wire>.southnode,
.wire>.eastnode,
.wire>.westnode {
    position: absolute;
    border: none;
    top: 0px;
    left: 0px;
    width: 10px;
    height: 10px;
}

.wire.north>.northnode {
    border-top: 59px solid #484848;
    top: -59px;
}
.wire.east>.eastnode {
    border-right: 59px solid #484848;
}
.wire.south>.southnode {
    border-bottom: 59px solid #484848;
}
.wire.west>.westnode {
    border-left: 59px solid #484848;
    left: -59px;
}

.wire.activated {
    background-color: #5384ee;
}
.wire.activated>.northnode,
.wire.activated>.eastnode,
.wire.activated>.southnode,
.wire.activated>.westnode {
    border-color: #5384ee;
}
